<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}VideoFromJSON{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block head %}
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/static/js/main.js"></script>
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>