{% extends "base.html" %}

{% block title %}API Test Pages{% endblock %}

{% block content %}
<h1>API Test Pages</h1>
<p>Use the following forms to test and use each of the API endpoints:</p>
<ul>
    <li><a href="/web/upload_image">Upload Image</a> - Upload an image to a specified directory.</li>
    <li><a href="/web/creation">Create Video</a> - Create a video from provided segments.</li>
    <li><a href="/web/status">Check Video Status</a> - Check the status of a video by its ID.</li>
    <li><a href="/web/videos">List Videos</a> - List all videos in the static/videos directory.</li>
    <li><a href="/web/pre_roll">Upload Pre-roll Video</a> - Upload a pre-roll video.</li>
    <li><a href="/web/post_roll">Upload Post-roll Video</a> - Upload a post-roll video.</li>
</ul>
{% endblock %}